:root {
  --bg: #1e1d1b;
  --golder-color: #a3772f;
  --section-fs: 30px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
}

@media (min-width: 1000px) {
  :root {
    --section-fs: 60px;
  }
}
